{% macro exp_section(exp) %}
<section id="{{ exp.key }}" class="main special">
    <header class="major">
        <h2>{{ exp.title }}</h2>
    </header>

    {% for item in exp.list %}
        <div class="card">
            <h3><i class="fa-regular fa-building"></i> {{ item.title }}</h3>
            <p>{{ item.description }}</p>
            {% if item.link %}
                <a href="{{ item.link }}" class="button">Learn More</a>
            {% endif %}
        </div>
    {% endfor %}
</section>
{% endmacro %}