{% macro exp_section(exp) %}
<section id="{{ exp.key }}" class="main special">
    <header class="major">
        <h2>{{ exp.title }}</h2>
    </header>

    {% for item in exp.list %}
        <div class="major">
            <h2>{{ item.title }}</h2>
            {% for project in item.projects %}
                <div>
                    <h3><i class="fa-solid fa-list-check"></i> {{ project.title }}</h3>
                    <ul class="features">
                        <li>
                            <h4><i class="icon solid style5 fa-flag"></i> Challenge</h4>
                            <p>{{ project.challenge }}</p>
                        </li>
                        <li>
                            <h4><i class="icon solid style3 fa-gears"></i> Role</h4>
                            <p>{{ project.role }}</p>
                        </li>
                        <li>
                            <h4><i class="icon solid style1 fa-square-poll-vertical"></i> Impact</h4>
                            <p>{{ project.impact }}</p>
                        </li>
                    </ul>
                    <ul class="statistics">
                        {% for skill in project.skills %}
                            <li class="style{{ loop.index % 5 + 1 }}">{{ skill }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% endfor %}
    <footer class="major">
        {% if exp.link %}
        <ul class="actions special">
            <li><a href="generic.html" class="button">Learn More</a></li>
        </ul>
        {% endif %}
    </footer>
</section>
{% endmacro %}