{% macro skill_section(skill) %}
<section id="{{ skill.key }}" class="main special">
    <header class="major">
        <h2>{{ skill.title }}</h2>
    </header>
    <ul class="statistics">
        {% for item in skill.list %}
            <li class="style{{ loop.index % 5 + 1 }}">
            <span class="icon {{ item.icon }}"></span>
            <strong>{{ item.value }}</strong> {{ item.label }}
            </li>
        {% endfor %}
    </ul>
    <p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>
    <footer class="major">
        <ul class="actions special">
            <li><a href="generic.html" class="button">Learn More</a></li>
        </ul>
    </footer>
</section>
{% endmacro %}